body {

    background-color: rgb(12, 12, 43);
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

h1 {

    margin-top: 15%;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Georgia, sans-serif;

}

#container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: white;
    height: 200px;
    width: 500px;
    font-family: Arial, Sans-serif;

}

#text-input {

    justify-content: center;
    border: 2px solid grey;
    height: 22px;
    width: 250px;
    margin-top: 65px;
    margin-bottom: -50px;
    margin-left: auto;
    margin-right: 7px;

}

#check-btn {

    height: 35px;
    width: 100px;
    border-radius: 13% 13% 13% 13%;
    margin-top: 60px;
    margin-bottom: -50px;
    border: 1px solid grey;
    background-color: rgb(81, 42, 223);
    color: white;
    margin-right: 35px;

}

#text {

    margin-top: 35px;
    margin-bottom: -50px;
    color: grey;

}

span {

    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(97, 97, 97);
    height: 30px;
    width: 275px;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 30px;
    padding-top: 5px;

}

#info {

    color: white;
    text-align: center;
    margin-top: 35px;
    margin-bottom: -50px;
    margin-right: auto;
    margin-left: auto;
    background: rgb(134, 94, 6);
    height: 150px;
    width: 375px;
    padding-top: 50px;
    padding-bottom: auto;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    border-radius: 35% 35% 35% 35%;
    border: 1px solid rgb(12, 12, 43);
    box-shadow: 1px 3px 5px rgb(108, 106, 106);

}
